<%= link_to "New Destination", new_destination_path %>

<h2>Destinations</h2>
<ul>
  <% @destinations.each do |destination| %>
    <li><%= link_to destination.city, destination %></li>
  <% end %>
</ul>
